spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 732455086497-tse2q35l4cqqs2kat2qv2td1fc6odj47.apps.googleusercontent.com
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
app:
  tokenSecret: 926D96C90030DD58429D2751AC1BDBBC
  tokenExpirationMsec: 864000000
  API_KEY: ${API_KEY}
  shouldCreate: ${SHOULD_CREATE}
  authorizedRedirectUris:
    - https://bwell-frontend.herokuapp.com/oauth2/redirect
    - http://bwell-frontend.herokuapp.com/oauth2/redirect